
#cart-items {
    min-width: 100dvh;
    margin-top: 20px;
}

/* header h5 {
    font-size: clamp(.1rem, calc(2vw + .5rem), 1.5rem);
} */

header a {
    display: flex;
    flex-direction: column;
    font-size: .5rem;
    color: var(--font-color);
    position: relative;
}

.help-text {
    position: absolute;
    bottom: -14px;
    right: -px;
    background: green;
    padding: .3em;
    border-radius: 20px;
    opacity: .8;
    white-space: nowrap;
}

footer {
    background: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

#checkout {
    font-size: 1.5rem;
    padding: 10px 20px;
    border-radius: 30px;
    background: var(--primary-color);
    color: var(--font-color);
    border: none;
    cursor: pointer;
}

