:root {
    --primary-color: #11101c;
    --font-color: aliceblue;
    --accent-color: rgb(255, 6, 64);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: var(--primary-color);
    color: var(--font-color);
    padding: 1em .5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: clamp(.2rem, calc(2.5vw + .5rem), 1.5rem);
    border-bottom: solid 1px #d4ebff80;

    svg {
        width: 30px;
        height: 30px;
        fill: var(--font-color);
    }
}

header a {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#cart-count {
    position: absolute;
    top: -6px;
    right: -4px;
    background-color: var(--accent-color);
    color: var(--font-color);
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

main {
    text-align: left;
}

.cart-icon {
    color: var(--font-color);
    text-decoration: none;
    font-size: 20px;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
    gap: 2em;
}

.category {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 1em;
}

.product-card {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
    font-size: 1rem;
}

.product-card img{
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: top;
    border-radius: 5px;
    image-rendering: optimizeQuality;
    
}

.btns {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 1em 0;
}

.buy-now, .add-to-cart {
    display: block;
    padding: 10px 15px;
    font-size: 1em;
    background-color: var(--primary-color);
    color: var(--font-color);
    border: none;
    border-radius: 10em;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.362);
}

.buy-now {
    background-color: var(--accent-color);
}
